<html lang="en">

<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
</head>
<script type="text/javascript" language="javascript">
    function checkform() {
        var ProductName = document.getElementById("ProductName");
        var ProductCost = document.getElementById("ProductCost");
        var ProductValue = document.getElementById("ProductValue");
        var cansubmit = true;

        (ProductName && ProductName.value.length != '') && (ProductCost && ProductCost.value != '') && (ProductValue && ProductValue.value != '') ? (cansubmit = true) : (cansubmit = false);

        if (cansubmit) {
            document.getElementById('submitbutton').disabled = false;
            document.getElementById('submitbutton').style.backgroundColor = " rgb(161, 201, 116)";

        } else {
            document.getElementById('submitbutton').disabled = true;
        }
    }

    function Reset(Url) {
        // var retVal = confirm("Do you want to Delte This");
        // if (retVal == true) {

        //     window.location.href = window.location.href.split('/UpdateRecord')[0] + Url;
        // }
        console.log(window.location.href.split('/UpdateRecord'));
    }
</script>

<body style="background-color : rebeccapurple">
    
    <div class="offer" style="margin: 250px">
        <div class="small container">
            <form class="form"  action= '/UpdateRecord/<%= data.ID %>' method="POST" id="form1">
           
                <% AllProduct.forEach((article)=> { %>
                    <div class="col-4">
                        <img src="images/<%= article.Product %>">
                        <h1>Red Printed T-Shirt</h1>
                        <div class="rating">
                            <!-- <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <h2 style = "color:#bd0303"><%= article.Detail %></h2>
        
                        </div>
                        <p><span style = "color:rgb(95, 32, 153)">Price </span> <h2><%= article.Price %></h2></p>
                        <a onclick="getConfirmation('/DeleteRecord/<%= article.ID %>')" class = "btn">Delete&#8594;</a>
                        <a href = '/UpdateRecord/<%= article.ID %>' class = "btn" style = "background-color: rgb(146, 149, 190);">Update&#8594;</a>
                    </div>  <% }) %>
                    
           <button  class="btn" disabled = "disabled" style="background-color: rgb(178, 182, 179);"  id ="submitbutton">Update</button>
            <button class="btn" style="background-color: rgb(53, 25, 80);"> Back</button>
        </form>
        </div>
    
    </div>
   
</body>

</html>